<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
              <div class="title-brand">
                    <h1 class="presentation-title">Face Recognition</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
              <div class="main-buttons">
                <div class="fog-low">
                  <a [routerLink]="['/registration']" class="btn btn-outline-danger btn-round btn-lg">
                    <i class="main-button-icon nc-icon nc-simple-add"></i><br>
                    Registration
                  </a>
                </div>
                <div class="fog-low right">
                  <a [routerLink]="['/identification']" class="btn btn-outline-danger btn-round btn-lg">
                    <i class="main-button-icon nc-icon nc-touch-id"></i><br>
                    Identification
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
